*{
    padding: 0;
    margin: 0;
    

}
@media screen and (min-width:400px)
{
.body{
    display: flex;
    min-width: 1000px;
}
}


.whitepaper{
    background: black;
    display: flex;
    width: 250mm;
    height: 297mm;
    margin-top: 50px;
    margin-left: 300px;
}

.section1{
    background: white;
    margin-left: 30vh;
    margin-right: 20vh;
}
#firstImage{
    display: flex;
    width: 50vw;
    height: 70vh;
  
    justify-content: center;
    border: 2px solid black;
    margin-left: 30vh;
    
    
    padding: 8px 12px;
    
}
#secondImage{
    display: flex;
    width:50vw;
    align-content: center;
    justify-content: center;
    
    flex-flow: column;
    height: 50vh;
    margin-top: 40px;
    margin-left: 30vh;
  
    border: 2px solid black;
  
    
    padding: 8px 12px;
}
#ourWork{
    margin-left: 75vh;
    size: 10px;
    margin-top: 50px;
  
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 100px;
     margin-left: 350px;
   
}


@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
#firstImageName{
    margin-top: 20px;
    margin-left: 550px;
    display: flex;
}
.section2{
    background: white;
    margin-left: 30vh;
    margin-right: 20vh;
}
#fourthImage{
    display: flex;
    width:50vw;
    align-content: center;
    justify-content: center;
    
    flex-flow: column;
    height: 50vh;
    margin-top: 40px;
    margin-left: 30vh;
    
    border: 2px solid black;
   
    
    padding: 8px 12px;
}
#secondImageName{
    margin-top: 20px;
    margin-left: 550px;
    display: flex;
}
#thirdImageName{
    margin-top: 20px;
    margin-left: 550px;
    display: flex;
}
#thirdImage{
    display: flex;
    width:50vw;
    align-content: center;
    justify-content: center;
    flex-flow: column;
    height: 50vh;
    margin-top: 40px;
    margin-left: 30vh;
    border: 2px solid black;
   
    
    padding: 8px 12px;
}
